* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content-container {
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
